:root {
  --primary: #ff6a3e;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 15px - 25px top and bottom */
  --sectionPadding: clamp(0.9375rem, 1.95vw, 1.5625rem) 0.5rem;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}
.cs-topper {
  font-size: var(--topperFontSize);
  line-height: 1.2em;
  text-transform: uppercase;
  text-align: inherit;
  letter-spacing: 0.1em;
  font-weight: 700;
  color: var(--primary);
  margin-bottom: 0.25rem;
  display: block;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: inherit;
  max-width: 43.75rem;
  margin: 0 0 1rem 0;
  color: var(--headerColor);
  position: relative;
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

/*-- -------------------------- -->
<---           Steps            -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #card-section {
    padding: var(--sectionPadding);
    padding-left: 0;
    padding-right: 0;
  }
  #card-section .cs-container {
    width: 100%;
    /* changes to 1920px at tablet */
    max-width: 36.5rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #card-section .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #card-section .cs-text {
    /* Override.  cs-topper cs-title and first cs-text should be removed and put into your global css sheet so it can control every instance of them on your site and is consistent. This selector is a section specific override that stays inside this stitch */
    max-width: 32.625rem;
  }
  #card-section .cs-card-group {
    margin: 0;
    padding: 0;
    display: grid;
    justify-items: center;
    align-items: stretch;
    grid-auto-flow: row;
  }
  #card-section .cs-item {
    list-style: none;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    /* bottom border */
  }
  #card-section .cs-item::after {
    content: "";
    width: 100%;
    height: 1px;
    /* to change the color of the bottom border, adjust the second color (at 50%). the first and third will blend the color to transparent */
    /* note you'll also have to change the color in the tablet media query when the lines go vertical */
    background: linear-gradient(
      90deg,
      rgba(255, 255, 255, 0) 0%,
      #bababa 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  #card-section .cs-item:first-of-type {
    padding-top: 0;
  }
  #card-section .cs-item:last-of-type {
    padding-bottom: 0;
  }
  #card-section .cs-item:last-of-type::after {
    content: none;
  }
  #card-section .cs-number {
    /* 80px - 100px */
    font-size: clamp(5rem, 1vw, 6.25rem);
    font-weight: 900;
    line-height: 1.2em;
    color: var(--primary);
    opacity: 0.12;
    display: block;
  }
  #card-section .cs-h3 {
    /* 20px - 25px */
    font-size: clamp(1.25rem, 2vw, 1.5625rem);
    font-weight: 700;
    line-height: 1.2em;
    margin: -1.9375rem 0 1rem 0;
    color: var(--headerColor);
  }
  #card-section .cs-item-text {
    /* 14px - 16px */
    font-size: clamp(0.875rem, 2vw, 1rem);
    line-height: 1.5em;
    text-align: left;
    margin: 0;
    color: var(--bodyTextColor);
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #card-section .cs-container {
    max-width: 120rem;
  }
  #card-section .cs-card-group {
    grid-template-columns: repeat(4, 1fr);
    gap: 0;
  }
  #card-section .cs-item {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
    /* the specificity of the mobile .cs-item means we need to explicitly define the first and last items here, too */
  }
  #card-section .cs-item::after {
    width: 1px;
    height: 100%;
    background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0) 0%,
      #bababa 50%,
      rgba(255, 255, 255, 0) 100%
    );
    opacity: 0.6;
    right: 0;
    left: initial;
  }
  #card-section .cs-item:first-of-type,
  #card-section .cs-item:last-of-type {
    /* 24px - 60px */
    padding: clamp(1.5rem, 3vw, 3.75rem);
  }
}
/* Dark Mode */
@media only screen and (min-width: 0rem) {
  body.dark-mode #card-section .cs-topper {
    color: var(--primaryLight);
  }
  body.dark-mode #card-section .cs-title {
    color: var(--bodyTextColorWhite);
  }
  body.dark-mode #card-section .cs-item {
    border-color: var(--bodyTextColorWhite);
  }
  body.dark-mode #card-section .cs-item:after {
    opacity: 0.2;
  }
  body.dark-mode #card-section .cs-item-text,
  body.dark-mode #card-section .cs-text {
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }
  body.dark-mode #card-section .cs-h3,
  body.dark-mode #card-section .cs-number {
    color: var(--primaryLight);
  }
}

.cs-button-6 {
  text-align: center;
  font-size: 1rem;
  /* 46px - 56px */
  line-height: clamp(2.875rem, 8vw, 3.5rem);
  text-decoration: none;
  font-weight: 700;
  min-width: 10.875rem;
  margin: 1rem auto;
  color: #1a1a1a;
  padding: 0 1.5rem;
  /* prevents padding and border from affecting height and width */
  box-sizing: border-box;
  background-color: #fff;
  border: 2px solid #1a1a1a;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  gap: 1.5rem;
  position: relative;
  z-index: 1;
  transition: color 0.3s;
}
.cs-button-6:before {
  content: "";
  width: 0.375rem;
  height: 100%;
  background: #1a1a1a;
  opacity: 1;
  position: absolute;
  display: block;
  bottom: 0;
  left: 0;
  transition: width 0.3s;
  z-index: -1;
}
.cs-button-6 .cs-icon {
  width: 1.5rem;
  height: auto;
}
.cs-button-6 .cs-icon path {
  transition: fill 0.3s;
}
.cs-button-6:hover {
  color: #fff;
}
.cs-button-6:hover:before {
  width: 100%;
}
.cs-button-6:hover .cs-icon path {
  fill: #fff;
}

/*-- -------------------------- -->
<---          Contact           -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #add-form {
    position: relative;
    z-index: 1;
  }
  #add-form .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
  }
  #add-form .cs-content {
    /* set text aling to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }

  #add-form .cs-title {
    margin: 0;
  }
  #add-form .cs-right {
    width: 100%;
    /* changes to 630px at desktop */
    max-width: 36.5rem;
    /* moved section padding to the content so the picture can be full width */
    padding: var(--sectionPadding);
    padding-top: 0;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
  }
  #add-form .cs-form {
    width: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
    gap: 0.75rem;
  }
  #add-form .cs-label {
    font-size: 1rem;
    width: 100%;
    color: var(--headerColor);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.5rem;
  }
  #add-form .cs-input {
    font-size: 1rem;
    width: 100%;
    height: 3.5rem;
    padding: 0;
    padding-left: 1.5rem;
    color: var(--headerColor);
    background-color: #f7f7f7;
    border: none;
    /* prevents padding from adding to height and width */
    box-sizing: border-box;
    transition: border-color 0.3s;
  }
  #add-form .cs-input:hover {
    border-color: var(--secondary);
  }
  #add-form .cs-input:focus {
    outline: 1px solid var(--secondary);
  }
  #add-form .cs-input::placeholder {
    color: #767676;
    opacity: 0.8;
  }
  #add-form .cs-textarea {
    min-height: 7.5rem;
    padding-top: 1.5rem;
    margin-bottom: 1.75rem;
    font-family: inherit;
  }
  #add-form .cs-button-solid {
    font-size: 1rem;
    /* 46px - 56px */
    line-height: clamp(2.875rem, 5.5vw, 3.5rem);
    text-decoration: none;
    font-weight: 700;
    text-align: center;
    margin: 0;
    color: #fff;
    min-width: 9.375rem;
    padding: 0 2rem;
    background-color: var(--primary);
    display: inline-block;
    position: relative;
    z-index: 1;
    /* prevents padding from adding to the width */
    box-sizing: border-box;
  }
  #add-form .cs-button-solid:before {
    content: "";
    position: absolute;
    height: 100%;
    width: 0%;
    background: #000;
    opacity: 1;
    top: 0;
    left: 0;
    z-index: -1;
    transition: width 0.3s;
  }
  #add-form .cs-button-solid:hover:before {
    width: 100%;
  }
  #add-form .cs-submit {
    min-width: 13.375rem;
    border: none;
    border-radius: 0;
  }
  #add-form .cs-submit:hover {
    cursor: pointer;
  }
  #add-form .cs-picture {
    display: block;
    position: relative;
    width: 100%;
    /* 360px - 600px */
    height: clamp(22.5rem, 100vw, 37.5rem);
  }
  #add-form .cs-picture img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #add-form {
    padding: var(--sectionPadding);
    position: relative;
  }
  #add-form .cs-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  #add-form .cs-form {
    max-width: 39.375rem;
  }
  #add-form .cs-content {
    text-align: left;
    align-items: flex-start;
  }
  #add-form .cs-form {
    align-items: flex-start;
  }
  #add-form .cs-picture {
    position: absolute;
    height: 100%;
    width: 44%;
    right: 50%;
    /* 70px - 88px */
    margin-right: clamp(4.375rem, 7vw, 5.5rem);
  }
  #add-form .cs-right {
    width: 50%;
    max-width: 39.375rem;
    padding: 0;
  }
}
/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-977 {
    padding: var(--sectionPadding);
    overflow: hidden;
  }
  #meet-team-977 .cs-container {
    width: 100%;
    /* changes to 1280px at desktop */
    max-width: 34.375rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-977 .cs-content {
    /* set text align to left if content needs to be left aligned */
    text-align: center;
    width: 100%;
    max-width: 40.625rem;
    display: flex;
    flex-direction: column;
    /* centers content horizontally, set to flex-start to left align */
    align-items: center;
  }
  #meet-team-977 .cs-topper {
    font-size: var(--topperFontSize);
    line-height: 1.2em;
    text-transform: uppercase;
    text-align: inherit;
    letter-spacing: 0.1em;
    font-weight: 700;
    color: var(--primary);
    margin-bottom: 0.25rem;
    display: block;
  }
  #meet-team-977 .cs-title {
    font-size: var(--headerFontSize);
    font-weight: 900;
    line-height: 1.2em;
    text-align: inherit;
    max-width: 43.75rem;
    margin: 0 0 1rem 0;
    color: var(--headerColor);
    position: relative;
  }
  #meet-team-977 .cs-text {
    font-size: var(--bodyFontSize);
    line-height: 1.5em;
    text-align: inherit;
    width: 100%;
    max-width: 40.625rem;
    margin: 0;
    color: var(--bodyTextColor);
  }
  #meet-team-977 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    position: relative;
  }
  #meet-team-977 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  #meet-team-977 .cs-item:hover {
    cursor: pointer;
  }
  #meet-team-977 .cs-item:hover .cs-picture:before,
  #meet-team-977 .cs-item:hover .cs-picture:after {
    opacity: 1;
  }
  #meet-team-977 .cs-item:hover .cs-picture img {
    transform: scale(1.1);
  }
  #meet-team-977 .cs-picture {
    width: 100%;
    height: 25rem;
    /* removed at tablet */
    aspect-ratio: 0.82;
    /* clips img tag from overflowing it on hover */
    overflow: hidden;
    display: block;
    position: relative;
    z-index: 1;
  }
  #meet-team-977 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: transform 0.7s;
  }
  #meet-team-977 .cs-info {
    width: 90%;
    max-width: 15rem;
    padding: 1.5rem;
    /* prevents padding from affecting the height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
  }
  #meet-team-977 .cs-info:before {
    /* background-color */
    content: "";
    width: 100%;
    height: 100%;
    background: #1a1a1a;
    opacity: 0.8;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    z-index: -1;
    transition: background-color 0.3s, opacity 0.3s;
  }
  #meet-team-977 .cs-name {
    /* 20px - 25px */
    font-size: 1.25rem;
    line-height: 1.2em;
    font-weight: 700;
    margin: 0 0 0.5rem 0;
    color: #fff;
    display: block;
  }
  #meet-team-977 .cs-job {
    font-size: 1rem;
    line-height: 1.5em;
    margin: 0;
    color: #fff;
    display: block;
  }
  #meet-team-977 .cs-social-group {
    margin: 0.5rem 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }
  #meet-team-977 .cs-link {
    width: 2rem;
    height: 2rem;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #meet-team-977 .cs-link:hover .cs-icon {
    filter: grayscale(0);
    transform: translateY(-0.25rem);
  }
  #meet-team-977 .cs-icon {
    width: 0.75rem;
    height: auto;
    filter: grayscale(1);
    transition: filter 0.3s, transform 0.3s;
    z-index: 10;
  }
}
/* Tablet - 550px */
@media only screen and (min-width: 34.375rem) {
  #meet-team-977 .cs-card-group {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
  }
  #meet-team-977 .cs-item {
    width: 50%;
  }
  #meet-team-977 .cs-picture {
    /* remove the aspect ratio so the height can be squished */
    aspect-ratio: initial;
    min-width: 25rem;
  }
}
/* Small Desktop - 1024px */
@media only screen and (min-width: 64rem) {
  #meet-team-977 .cs-container {
    max-width: 80rem;
  }
  #meet-team-977 .cs-item {
    width: 25%;
  }
  #meet-team-977 .cs-item:hover .cs-info:before {
    background-color: var(--primary);
    opacity: 1;
  }
  #meet-team-977 .cs-item:hover .cs-social-group {
    height: 2rem;
    margin-top: 0.5rem;
  }
  #meet-team-977 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateX(0);
  }
  #meet-team-977 .cs-social-group {
    height: 0;
    margin-top: 0;
    transition: height 0.3s, marign-top 0.3s;
  }
  #meet-team-977 .cs-link {
    opacity: 0;
    transform: translateX(-0.5rem);
    transition: opacity 0.6s, transform 0.4s;
  }
  #meet-team-977 .cs-link:nth-of-type(2) {
    transition-delay: 0.1s;
  }
  #meet-team-977 .cs-link:nth-of-type(3) {
    transition-delay: 0.2s;
  }
  #meet-team-977 .cs-link:nth-of-type(4) {
    transition-delay: 0.3s;
  }
}
